@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.white-content {
    background: #e4e4e4;
}

#TypeWriter, h1{
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif; ;
    color: #e4e4e4;
    font-size: 70px;
}
h1{
    top: 200px;
}
#TypeWriter{
    top: 140px;
}
#video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: static;
    bottom: 500px;
    left: 0;
    z-index: -1;
}